.reviews {
    position: relative;
    background: linear-gradient(180deg, #420096 0%, #C95CF0 100%);
    padding-bottom: 30px;
    &__header {
        padding-top: 20px;
    }
    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 15px 0;
        position: relative;
        &__arrow {
            &_back {
                position: absolute;
                left: 0;
                width: 28px;
                height: 42px;
                cursor: pointer;
            }
            &_next {
                position: absolute;
                right: 0;
                width: 28px;
                height: 42px;
                cursor: pointer;
            }
            &-img {
                width: 100%;
            }
        }        
        &__review {            
            display: none;
            overflow: hidden;
            border-radius: 10px;
            &_active {
                display: block;
                width: 270px;
                box-shadow: 0px 0px 10px 5px rgba(250, 220, 4, 0.6);                
            }
        }
        &__img {
            width: 100%;
        }
    }
}