.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.6);
    transition: all 1s;
    &__close {
        width: 40px;
        height: 50px;
        position: absolute;
        right: 0;
        top: -50px;
        align-items: end;
        cursor: pointer;
        &>span {
            display: block;
            position: absolute;
            bottom: 20px;
            width: 40px;
            height: 6px;
            border-radius: 12px;
            background-color: $main-color-yellow;
            transform: rotate(45deg);
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
    &__window {
        position: relative;
        width: 290px;
        background: linear-gradient(180deg, #420096 17.71%, #833AB4 100%);
        border-radius: 20px;
        box-shadow: 0px 0px 8px 5px $main-color-yellow;
    }
    /* Как получить скидку */
    &__how-get-sale {
        top: -100%;
        opacity: 0;
        &.active {
            top: 0;
            opacity: 1;
        }
        &__window {
            height: 390px;
        }
        &__title {
            margin-top: 10px;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: $main-color-yellow;
        }
        &__answer {
            display: grid;
            height: 330px;
            align-content: space-between;
            margin: 12px 10px 0;
            grid-template-columns: 270px;
            grid-template-rows: 100px auto 50px;
        }
        &__unicorn {
            width: 100px;
            justify-self: center;
        }
        &__descr {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: $main-color-yellow;
        }
        &__code {
            display: flex;
            border-radius: 10px;
            background-color: #fff;
            &-code {
                border: none;
                width: 60%;
                padding: 10px;
                text-align: center;
                color: $main-color;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;
                align-self: center;
                border-radius: 10px;
            }
            &-btn {
                width: 40%;
                height: 100%;
                background-color: $main-color;
                color: $main-color-yellow;
                border: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                font-weight: bold;
                transition: all .6s;
                &:hover {
                    background-color: $main-color-yellow;
                    color: $main-color;
                }
            }
        }        
    }
    /* Заказ */
    &__order {
        top: -100%;
        opacity: 0;
        &.active {
            top: 0;
            opacity: 1;
        }
        &__window {
            padding: 10px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__header {
            text-align: center;
        }
        &__title {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            color: $main-color-yellow;
        }
        &__toy {
            margin-top: 5px;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF;
        }
        &__form {
            margin-top: 5px;
        }
    }
}